*{
  margin:0;
  padding:0;
}



body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: rgb(85,217,150);
  background: linear-gradient(336deg, rgba(85,217,150,1) 26%, rgba(61,230,144,1) 49%, rgba(103,237,169,1) 79%) no-repeat;

  background-size: cover;
}

.navbar {
  width: 100vw;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color:#043025;
  margin-bottom: 0;
  padding: 0;
  margin: 0 auto;
  position: relative;
  margin-right: 0 auto;
  margin-left: 0 auto;
  z-index:1;
 
}

li {
  font-size: 2vw;
  color: white;
  padding-right: .6em;
  margin: 1em 0;
  text-align: center;
  display: inline;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;

}


li:hover {
  box-shadow: rgba(130, 130, 130, 0.48) 5px 5px 5px;

}

a {
  text-decoration: none;
  text-align: center;
}


.logo {

  border-radius: 50%;
  vertical-align: middle;
  width:6vw;
  z-index:1;
}

.header {
  background-color: rgb(7, 68, 31);
  padding: 0;
  margin: 0;
  text-align: center;
  height: 20%;
  box-shadow: rgba(130, 130, 130, 0.48) 5px 5px 5px;
}


ul {
  display: inline;
  align-items: center;
  align-content: center;
  text-align: center;

}



.hero-section {
  width: 100vw;
  height: 100vh;
  background-size:flex;
  background-image: url("../images/daniel-watson-8vBpYpTGo90-unsplash.jpg") ;
  background-attachment: fixed;
  background-size: cover;
}

.phone-number {
  color: white;
  position: relative;
  right: 9%;
  top: 13%;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;


  width: 56%;
}

.move-buttons {
  position: relative;
  top: 40%;

}

.quote-button {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

 
}

.services-button {

  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}





.button-container {

  text-align:center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 0;
  margin-top: 0;
  vertical-align: top;
  position: relative;
  top: 0%;

  position:relative;
}

.about-section {


  align-content:
    center;


}


.page-title {
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
  position: relative;
  top: 55%;
  color: white;
  left: 0%;
  font-size:3vw;
}


p {
  font-family: 'Alata', sans-serif;
}







div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}