*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
background-image:url(../images/daniel-watson-8vBpYpTGo90-unsplash.jpg);

  font-family: 'Alata', sans-serif;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.slideshow-container{
  margin-top:5%;
  display:flex;
  justify-content:center;
}


.slider{
  width:800px;
  height:500px;
  border-radius:10px;
  overflow:hidden;
}
.slides{
  width:500%;
  height:500px;
  display:flex;
}
.slides input{
  display:none;
}
.slide{
  width:20%;
  transition:2s;
}
.slide img{
  width: 800px;
  height:800px;
}

/*css for manual slide navigation */

.navigation-manual{
position:absolute;
width:800px;
margin-top: -40px;
display:flex;
justify-content:center;
}
.manual-btn{
  border:2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background:#40D3DC;
}
#radio1:checked ~ .first{
  margin-left: 0;

}
#radio2:checked ~ .first{
  margin-left: -20%;

}
#radio3:checked ~ .first{
  margin-left: -40%;

}
#radio4:checked ~ .first{
  margin-left: -60%;

}

/*css for auto navigation*/

.navigation-auto{
  position:absolute;
  display:flex;
  width:800px;
  justify-content:center;
  margin-top: 460px;
}

.navigation-auto div{
  border:2px solid #043025;
  padding:5px;
  border-radius:10px;
  transition:1s;

}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

.container{
  width:100%;
  height:100%;
  
}





.card-wrapper{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:flex;
  justify-content:center;

 
}

.card{
 
  margin:0 0 0;
  width:50%;
  justify-content:center;
  margin-left:0;


  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
height:100%;
}



.card .card-img {
  justify-content:center;
margin:0;
padding:0;
max-width:100%;
max-height:300px;

 width:auto;
 height:auto;

}



.card-title{
  font-weight:bold;
  font-size:100%;



  

  
}




.card .btn{
padding: 1rem 1rem;
  background-color: #445ae3;
  border-radius: 1rem;
  margin: 1rem 0.5rem ;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.5s;
  text-decoration:none;
  overflow:hidden;
 
}
.card-description{
margin-left: 210px;
margin-bottom:1rem;


}
























.navbar {
  display:flex;
  flex-direction:column;
  width: 100vw;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color:#043025;
  margin-bottom: 0;
  padding: 0;
  margin: 0 auto;
  margin-right: 0 auto;
  margin-left: 0 auto;
  z-index:1;

 
}



li {
  font-size: 2em;
  color: white;
  padding-right: .6em;
  margin: 1em 0;
  text-align: center;
  display:flex;
  flex-direction:column;
  align-content: center;

  margin-bottom:10px;
  border-bottom: 1px solid lightgreen;
  

}

ul:last-child{
  border-bottom:none;
}

li:hover {
  box-shadow: rgba(130, 130, 130, 0.48) 5px 5px 5px;

}

a {
  text-decoration: none;
  text-align: center;
}

.logo-container{
  display:flex;
  justify-content: center;
}

.logo{
  border-radius:50%;

 
}

.header {
  background: rgb(9,91,41);
  background: linear-gradient(336deg, rgba(9,91,41,1) 26%, rgba(7,68,31,1) 63%, rgba(7,68,31,1) 79%);
  padding: 0;
  margin: 0;
  text-align:center;
  
  box-shadow: rgba(130, 130, 130, 0.48) 5px 5px 5px;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  
}


ul {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
  text-align: center;

}



.hero-section {

  display:flex;
  
  background-image: url("../images/daniel-watson-8vBpYpTGo90-unsplash.jpg") ;
  background-attachment: fixed;
  background-size: cover;
}

.phone-number {
  color: white;

 
  font-size: 2rem;





  
}

.move-buttons {
  position: relative;
  top: 40%;

}

.quote-button {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 0;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

 
}

.services-button {

  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 0;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}





.button-container {
  display:flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.24);
  padding: 0;
  margin-top: 0;
  vertical-align: top;
  position: relative;
  top: 0%;

  position:relative;
}

.about-section  *{
 
  width:100%;
  background-color:white;
  display:flex;
  align-content:space-evenly;
  flex-direction: column;
  border:solid white 1px;
  margin:0;
  text-align:left;
  border-radius:5px;
  flex-wrap:wrap;
  color:#043025;


}
.about-section div{
  padding:1%;
  display:flex;
}

.about-section p{
  padding:5%;
}

.about-section h2{
  padding:5%;
}





.page-title {

  vertical-align: center;
  position: relative;
  top: 55%;
  color: white;
  left: 0%;
  font-size:2rem;
}


p {
  font-family: 'Alata', sans-serif;
  color:black;
}







div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media (min-width:900px){


  body{
    margin:0;
    padding:0;
  }

  .container{
    width:100%;
    height:100%;
  }
  .header{
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
  
  }
  .logo-container{
    display:flex;
    justify-content:flex-start;
    margin:0;
    padding:0;
    align-content: center;
  }
  .navbar{
    flex-direction:row;
    justify-content:space-evenly;
  }
  ul{
    flex-direction:row;
    justify-content:space-evenly;
    text-align:center;
  }
  li{
    border-bottom:none;
    justify-content:space-around;
  }


  .about-section {
    
    width:100%;
    background-color:white;
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    border:solid white 1px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    
    
  }

  .about-section div{

    
  }
  .about-section p{
    padding:5%;
  }
  
  .about-section h2{
    padding:5%;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.hidden {
  display: none;
}

.slideshow-container{

  display:flex;
  justify-content:center;
  background-color:white;
}


.slider{
  width:800px;
  height:500px;
  border-radius:10px;
  overflow:hidden;
}
.slides{
  width:500%;
  height:500px;
  display:flex;
}
.slides input{
  display:none;
}
.slide{
  width:20%;
  transition:2s;
}
.slide img{
  width: 100%;
  height:800px;
}

